@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.start-button{
  border-radius: 50px;
  background: linear-gradient(to right, #f12711,#f5af19);
  border: unset;
}

.navbar{
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.075);
}